body, html {
    background: url("Frame\ 2.png") no-repeat fixed;
    background-size: cover;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
html, body, h1, h2, h3, h5, p, span, h3 {
    margin: 0;
    padding: 0;
   
    
}
a, ul, li {
    text-decoration: none;
    list-style: none;
}



.container {
    height: 100vh;
    display: grid;
    justify-content:center;
    align-items: center;
}

.card-leitura {
    font-size: 1px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 33px;
    justify-content: center;
    height: 500px;
    width: 360px; /* 340px em 16px de font-size */
}

.esquerdo {
  
    height: 100%;
    
}
.esquerdo img {

    border-radius: 33px;
    width: auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
}
.wrapper-direito {
   
    line-height: 28px;
    margin-top: 20px;
    z-index: 2;
    margin-left: 50px;
    margin-bottom: 0px;
    font-size: 8px;
    color: white;
}
.wrapper-direito p {
    color: rgb(131, 134, 134);
    font-size: 12px;
}
.wrapper-direito h5 {
    font-size: 14px;
    color: rgb(189, 194, 194);
}
.wrapper-direito h3 {
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.direito {
    border-radius: 33px;
   
    position: absolute;
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(289deg 100% 21%) 11%,
        hsl(315deg 100% 27%) 22%,
        hsl(329deg 100% 36%) 33%,
        hsl(337deg 100% 43%) 44%,
        hsl(357deg 91% 59%) 56%,
        hsl(17deg 100% 59%) 67%,
        hsl(34deg 100% 53%) 78%,
        hsl(45deg 100% 50%) 89%,
        hsl(55deg 100% 50%) 100%
      );
    z-index: 1;
    width: 100%;
    bottom: 0px;
    height: 250px;
    
    
}
.menu {
    z-index: 22;
    position: fixed;
    width:170px;
    display: flex;
    background-color: rgb(62, 70, 75);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s;
    border-radius: 50px;
    right: 50%;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
}

.menu .options{
    display: flex;
    gap: 12px;
    z-index: 999;
    bottom: 37px;
    
  }
  .menu a {
    display: block;
  }
  .menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    color: var(--white);
  }
  .menu-link.active {
    background-color: rgb(244, 244, 247);
  }
  .menu-link:hover {
    background-color: var(--black);
  }

