
body {
    height: 100vh;
    background: url("Frame\ 2.png") no-repeat fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
img, h1, h2, h3, h4, h5, h6, p, ul, li, nav {
    margin: 0;
    padding: 0;
}
li, a {
    text-decoration: none;
    list-style: none;
}

.leituras-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 50px;
    padding: 20px;
}
.leitura-card {
    border: 1px solid white;
    width: 100%;
    border-radius: 33px;
    position: relative
}
.leitura-card img {
    border-radius: 33px;
    max-width: 100%;
    object-fit: fill;
}
.card-thumb {
    height: 100%;
}
.card-info {
    border-radius: 33px;
}
.card-info-itens {
    flex-direction: column;
    display: flex;
}



/*  */

.menu a {
    display: block;
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    color: white;
}
.menu-link:hover {
    background-color: black;
  }

